@media (max-width: 1650px)
{
	body
	{
		width: 1650px;
	}
}

body
{
	height: 680px;
	margin: 15px;
	padding: 0px;
	background-color: #975AA7;
}

.contentHead
{
	height: 20%;
	margin-top: 2%;
}

#logoImg
{
	width: 25%;
	outline: 0;
}

.content
{
	height: 100%;
	text-align: center;
}

.content .container
{
	width: 50%;
	height: 60%;
	margin: auto;
	text-align: center;
	background-color: green;
	border: 10px;
	border-style: solid;
	border-color: brown;
	border-radius: 20px;
}

.content .title
{
	height: 40%;
}

.content .title p
{
	height: 100%;
	font-size: 50px;
	font-weight: bold;
	font-family: Ink Free, Arial;
}

.content .container form
{
	width: 100%;
	height: 20%;
}

.content .container input[type="text"]
{
	width: 60%;
	height: 100%;
	font-size: 30px;
	text-align: center;
	font-family: Ink Free, Arial;
	border: 5px;
	border-radius: 10px;
}

.content .container button
{
	width: 20%;
	height: 100%;
	font-size: 30px;
	font-family: Ink Free, Arial;
	border: 5px;
	border-radius: 10px;
	background-color: #333;
	color: white;
	outline: 0;
}

.content .container button:hover
{
	background-color: #555;
}

.content .container button:active
{
	background-color: #222;
}
