@media (max-width: 1350px)
{
	body
	{
		width: 1400px;
	}
}

body
{
	margin: 15px;
	padding: 0px;
	background-color: #975AA7;
	user-select: none;
}

#logoImg
{
	width: 25%;
	outline: 0;
}

.content-horizontal
{
	background-color: #000000;
	display: flex;
}

.content-players
{
	width: 20%;
	background-color: #FF0000;
	border: 5px solid #000000;
	display: flex;
	flex-direction: column;
	padding: 0;
}

.content-players #playerListTitle
{
	height: 9%;
	text-align: center;
	font-size: 180%;
	background-color: #DA626D;
	margin: 1%;
	padding: 0.5%;
	font-weight: bold;
	font-family: Ink Free, Arial;
}

.content-players .player
{
	margin: 1%;
	padding-top: 1%;
	border-radius: 6px;
	text-align: center;
	font-size: 120%;
	font-family: Ink Free, Arial;
	background-color: #333;
	color: white;
	opacity: 1;
}

.content-players .player div
{
	display: inline-block;
	padding-top: 3%;
	padding-left: 8%;
}

.content-players .player .statusImg
{
	width: 15%;
	float: right;
	margin: 0;
	padding-right: 8%;
}

.content-players .player:hover
{
	background-color: #555;
}

.content-players .player:hover div
{
	background-color: #555;
}

.player.disabled
{
	opacity: 0;
}

.content-vertical
{
	width: 60%;
}

.content-top
{
	height: 8%;
	border: 2px solid #000000;
	display: flex;
	flex-direction: row;
}

#countingTimer
{
	width: 20%;
	height: 100%;
	background-color: #3C5A6B;
	margin: 0;
	margin-left: 3%;
	margin-right: 10%;
	padding: 1%;
	text-align: center;		/* Center the text */
	font-size: 160%;
	font-weight: bold;
	font-family: Ink Free, Arial;
}

#drawerText
{
	width: 33%;
	height: 100%;
	background-color: #ACE55F;
	margin: 0;		/* Center the element */
	padding: 1%;
	text-align: center;		/* Center the text */
	font-size: 160%;
	font-weight: bold;
	font-family: Ink Free, Arial;
}

#clearButton
{
	width: 20%;
	height: 80%;
	float: right;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
	margin-left: 10%;
	margin-right: 3%;
	border: 10px;
	border-radius: 20px;
	outline: 0;
	font-size: 180%;
	font-family: Ink Free, Arial;
	background-color: #333;
	color: white;
	opacity: 1;
}

#clearButton:hover
{
	background-color: #555;
}

#clearButton:active
{
	background-color: #222;
}

#clearButton:disabled
{
	background-color: #333;
	opacity: 0.5;
}

.content-drawingCanvas
{
	width: 100%;
	height: 80%;
}

#drawingCanvas
{
	width: 100%;
	height: 100%;
	background-color: #FFFFFF;
	border: 1px solid #000000;
}

.content-input
{
	width: 100%;
	height: 10%;
	background-color: #FFFF00;
	display: flex;
	flex-direction: row;
	margin-top: 0.5%;
}

#guess
{
  width: 81%;
	margin: 5px 10px;
  padding: 15px 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
	font-size: 100%;
	font-family: Ink Free, Arial;
	outline: 0;		/* Remove dotted outline */
	opacity: 1;
}

#guess:disabled
{
	opacity: 0.85;
}

#submitGuess
{
	width: 12%;
	margin: 5px 3px;
	background-color: #333;
	font-size: 150%;
	font-family: Ink Free, Arial;
	color: white;
	border-radius: 6px;		/* Make the button round on the sides */
	outline: 0;		/* Remove dotted outline */
	opacity: 1;
}

#submitGuess:hover
{
	background-color: #555;
}

#submitGuess:disabled
{
	background-color: #333;
	opacity: 0.7;
}

.content-tools
{
	width: 20%;
	background-color: #00FF00;
	border: 5px solid #000000;
	display: flex;
	flex-direction: column;
}

.content-tools .tools
{
	width: 100%;
	height: 78%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.content-tools .tools .toolLists
{
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
}

.content-tools .tools p
{
	font-size: 150%;
	font-family: Ink Free, Arial;
}

.content-tools .tools .list .tool
{
	background-color: #333;
	border-radius: 20px;
}

.content-tools .tools .list .tool:hover
{
	background-color: #555;
}

.content-tools .tools .list .tool.selected
{
	background-color: #999;
}

.content-tools .tools .list .tool:disabled
{
	background-color: #333;
}

.content-tools input[type="image"]
{
	width: 100%;
	height: 100%;
	outline: 0;		/* Remove dotted outline */
}

.content-tools p
{
	text-align: center;
	font-size: 120%;
	font-family: Ink Free, Arial;
	font-weight: bold;
	margin: 0;
	padding-top: 1%;
}

.content-tools .color
{
	height: 12%;
	margin: 0;
	padding-top: 2%;
}

.content-tools .color .buttons
{
	width: 100%;
	height: 35%;
	display: flex;
	flex-direction: row;
	background-color: #000000;
}

.content-tools .color .buttons .div-color
{
	width: 10%;
	margin: 1%;
	text-align: center;		/* Center child */
}

.content-tools .color .buttons .div-color .btn-color
{
	width: 80%;
	height: 80%;
	border: 1px solid #ccc;
  border-radius: 10px;
	outline: 0;		/* Remove dotted outline */
	opacity: 0.5;
}

.content-tools .color .buttons .div-color .btn-color:hover
{
	opacity: 1;
}

.content-tools .color .buttons .div-color .btn-color.selected
{
	opacity: 1;
}

.content-tools .color .buttons .div-color .btn-color:disabled
{
	opacity: 0.5;
}

.content-tools .color #color-red {background-color: #FF1A1A;}
.content-tools .color #color-orange {background-color: #FFA31A;}
.content-tools .color #color-yellow {background-color: #FFFF00;}
.content-tools .color #color-green {background-color: #1AFF1A;}
.content-tools .color #color-blue {background-color: #1A1AFF;}
.content-tools .color #color-purple {background-color: #9933FF;}
.content-tools .color #color-black {background-color: #000000;}
.content-tools .color #color-grey {background-color: #666666;}
.content-tools .color #color-white {background-color: #FFFFFF;}

/* https://www.w3schools.com/howto/howto_js_rangeslider.asp */
/* The slider itself */
#sizeSlider
{
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 15px; /* Specified height */
	margin: 0;
	padding: 0;
	border-radius: 5px;
  background: #d3d3d3; /* Background color */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
#sizeSlider:hover
{
  opacity: 1; /* Fully shown on mouse-over */
}

#sizeSlider:disabled
{
  opacity: 0.5;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
#sizeSlider::-webkit-slider-thumb
{
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
	border-radius: 50%;
  background: #4CAF50; /* Background color */
  cursor: pointer; /* Cursor on hover */
}

#sizeSlider::-moz-range-thumb
{
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
	border-radius: 50%;
  background: #4CAF50; /* Background color */
  cursor: pointer; /* Cursor on hover */
}
